In [1]:
import mysql.connector
import pandas as pd

### Establishing mysql database connection

In [2]:
connection=mysql.connector.connect(
    host='localhost',
    user='yourusername',
    password='*yourpassword',
    database='calculator_database')

### Creating a cursor object using the cursor() method

In [3]:
cursor=connection.cursor()

### Show tables

In [4]:
mysql_query = "show tables"

In [5]:
cursor.execute(mysql_query)

In [6]:
tables_data = cursor.fetchall()

In [7]:
print(tables_data)

[('calculator_table',)]

### Insert a row into the table

In [8]:
mysql_query = "insert into calculator_table(sl_no,operation,num1,num2,result) values(11,'division',250,10,25)"

In [9]:
cursor.execute(mysql_query)

In [10]:
connection.commit()

### Data retrival from table

In [11]:
mysql_query = "select * from calculator_table"

In [12]:
cursor.execute(mysql_query)

In [13]:
data_fetched = cursor.fetchall()

In [14]:
print(data_fetched)

[(1, 'addition', 10.0, 20.0, 30.0), (2, 'division', 40.0, 5.0, 8.0), (3, 'multiplication', 25.0, 4.0, 100.0), (4, 'substraction', 38.0, 10.0, 28.0), (5, 'addition', 27.0, 20.0, 47.0), (6, 'division', 70.0, 10.0, 7.0), (7, 'substraction', 520.0, 300.0, 220.0), (8, 'addition', 45.0, 10.0, 55.0), (9, 'addition', 55.0, 10.0, 65.0), (10, 'multiplication', 15.0, 10.0, 150.0), (11, 'division', 250.0, 10.0, 25.0)]

### Conditional data retrieval from table

In [15]:
mysql_query ="select * from calculator_table where operation='addition'"

In [16]:
cursor.execute(mysql_query)

In [17]:
conditional_data = cursor.fetchall()

In [18]:
print(conditional_data)

[(1, 'addition', 10.0, 20.0, 30.0), (5, 'addition', 27.0, 20.0, 47.0), (8, 'addition', 45.0, 10.0, 55.0), (9, 'addition', 55.0, 10.0, 65.0)]

### Importing data into pandas dataframe from mysql table

In [19]:
mysql_query = "select * from calculator_table"

In [20]:
dataframe = pd.read_sql(mysql_query,connection)

/tmp/ipykernel_11991/1896231785.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql(mysql_query,connection)

In [21]:
dataframe.head()

   sl_no       operation  num1  num2  result
0      1        addition  10.0  20.0    30.0
1      2        division  40.0   5.0     8.0
2      3  multiplication  25.0   4.0   100.0
3      4    substraction  38.0  10.0    28.0
4      5        addition  27.0  20.0    47.0

### Closing the connection

In [22]:
connection.close()